body{
    color: #f9f6fa;
    background-color: #403a49;
}

.user_space {
    padding-top: 1rem;
}

h1{
    margin-left: 2rem;
}

h3 {
    margin-left: 4rem;
    border: red;
}

.lembretes{
    margin: auto;
    border: solid red;

    align-items: center;
}

.user_profile {
    border:  red;
}